body {
    background: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    font-family: sans-serif;
  }

.back {
    color: darkblue;
    
}

  h1 span,#underline {
    color: rgb(85, 85, 85);
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
  }

  .intro {
    display: inline-block;
    border-style: hidden;
    width: 800px;
    color: greenyellow;
  }
 
  span.bordered-text {
    display: inline-block;
    border-style: solid;
    padding: 5px 5px;
    color: rgb(223, 126, 0);
    font-size: 35px;
    text-align: center;
  }

  h3 {
    color: rgb(26, 203, 235);
    font-size: 25px;
  }

  .highlight {
    color: rgb(216, 22, 22);
  }

  .indented-text li {
    margin-left: 70px;
  }
  
  .indented-text p {
    margin-left: 20px;
  }

  .indented-text ol {
    padding-left: 100px;
  }

  .indented-text ol li{
    margin-left: 30px;
  }

  .indented-text ul{
    padding-left: 100px;
  }

  .indented-text ul li {
    margin-left: 25px;
  }

  .code-style {
    color: rgb(217, 255, 0);
  }

  .css {
    color: rgb(255, 0, 242);
  }

  #indented-break li {
    margin-left: 100px;
  }

  footer {
    font-size: x-small;
    color: rgb(85, 85, 85);
  }

  .bold {
    font-weight: bold;
    font-size: 25;
  }

  .thin {
    font-weight: thin;
    font-size: 25;
  }

  .background-color {
    background-color: blue;
  }

  .foreground-color {
    color: blue;
  }
